* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body {
  background-color: black;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  
}

/* Barra principal */

.container {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(131, 131, 131, 0.907) 10%, rgba(0, 0, 0, 0.023) 99%);
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 25px;
  position: fixed;
  color: white;
  font-size: 4rem;
}
.container img {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin: 10px 20px 10px 20px;
}

main .mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
main .mapa #map {
  width: 100%;
  height: 100%;
}


main .mapa .boton_centrar_mapa {
  width: 150px;
  height: auto;
  background-color: #d5d5d5;
  border-radius: 5%;
  position: absolute;
  bottom: 70px;
  z-index: 999;
  right: 16px;
  padding: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .mapa .boton_centrar_mapa .legendName{
  font-size: 2rem;
  font-weight: 700;
  margin: 15px 0;
}
main .mapa .boton_centrar_mapa h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 15px 0;

}
main .mapa .boton_centrar_mapa ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
main .mapa .boton_centrar_mapa ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  font-size: 1.5rem;
}
main .mapa .boton_centrar_mapa ul li svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;

}

/* Cositas del leaflet toqueteados */

.leaflet-control-container {
  position: absolute;
  left: 95% !important;
  top: 50px !important;
}
.leaflet-control-zoom {
  margin: 0 !important;
}
.leaflet-bottom {
  display: none !important;
}

/* Medias Querys */

@media screen and (max-width: 768px) {
  .leaflet-control-container {
    left: 90% !important;
  }
  main .mapa .boton_centrar_mapa {
    right: 8px;
  }
  .menu-content .menu .servicios-container {
    padding: 11px;
  }
}

.pop {
  padding: none;
}
.pop span {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  background-color: #e2e2e2;
  margin: 5px 0;
  padding: 5px;
}
b {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 5px;
}
p {
  font-size: 1.1rem;
}